# MongoDB Configuration
# Use below when using Atlas cluster
MONGODB_CONNECTION_STRING="mongodb+srv://username:password@cluster_name.project_hash.mongodb.net/database_name"
# Use below when using the Docker container for local cluster
# DOCKER_SOCK = "unix:///var/run/docker.sock" # Linux
# DOCKER_SOCK = "npipe:////./pipe/docker_engine" # Windows
# MONGODB_CONNECTION_STRING="mongodb://mongo1:27017,mongo2:27018,mongo3:27019/?replicaSet=rs0"

# Atlas Cluster Configuration (only needed when using Atlas cluster)
ATLAS_GROUP_ID="************************"
ATLAS_CLUSTER_NAME="MyCluster"
ATLAS_API_KEY_PUBLIC="********"
ATLAS_API_KEY_PRIVATE="********-****-****-****-************"
