# MongoDB Configuration
MONGODB_CONNECTION_STRING="mongodb+srv://username:password@cluster_name.project_hash.mongodb.net/database_name"

# Atlas Cluster Configuration (only needed when using Atlas cluster)
ATLAS_GROUP_ID="************************"
ATLAS_CLUSTER_NAME="MyCluster"
ATLAS_API_KEY_PUBLIC="********"
ATLAS_API_KEY_PRIVATE="********-****-****-****-************"
